@model NS.MYS.Web.ViewModel.CatalogueViewModel

@{
    ViewBag.Title = "Catalogue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Catálogo</h2>

<script>
    //$(document).ready(function () {
    //    // executes when HTML-Document is loaded and DOM is ready
    //    //initialize_lang();


    //    $("#listbox").attr({ onchange: "cambiaso()" });
    //});


</script>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Catálogos:
        </dt>
        <dd>
            <select name="listbox" id="listbox" onchange="cambiaso(this)">
                <option value="0">
                    -- Selecciona un Catálogo --
                </option>
                @foreach (var item in Model.Catalogues)
                {

                    <option value="@item.CatalogueId">
                        @item.Description
                    </option>
                }
            </select>
        </dd>

    </dl>
    <dl class="dl-horizontal">
        <dt>
            Fotos cargadas:
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Observation)*@
        </dd>

    </dl>
    <dl class="dl-horizontal">
        <dt>
        </dt>

        <dd>
            @*@if (Model.SelectedUserCatalogueId != 0)
                {
                    <ul class="list-unstyled">

                        @foreach (Photo item in Model.Photos.Where(x => x.CatalogueId == Model.SelectedUserCatalogueId).ToList())
                        {
                            <li class="col-md-4"><img src="/UploadedFiles/@item.PhotoId" alt="" width="280" height="280" /><div class="help-block"></div></li>
                        }

                    </ul>
                }*@
            <ul id="gallery" class="list-unstyled row"></ul>
        </dd>

    </dl>
</div>
<div>
    <a href="http://www.myspimacotton.pe/">Regresar</a>
</div>
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <div>
        @Html.ActionLink("Menú Principal", "Index", "Admin")
    </div>
}

@section Scripts {
    @Styles.Render("~/Content/catalogue")
    @Scripts.Render("~/bundles/catalogue")
    <script type="text/javascript">

        var $j = jQuery.noConflict();
        function cambiaso(par) {
            var t = $j(par).val();
            $j.ajax({
                type: 'POST',
                url: '@Url.Action("CatalogoVarios", "Catalogue", new { selectedUserCatalogueId = "par" })'.replace("par", t),
                contentType: "html",
                //contentType: "application/json; charset=utf-8",
                //data: { selectedUserCatalogueId: t },
                //dataType: 'html',
                error: function (xhr, status, error) {
                    //show appropriate message
                    //alert('juan');
                },
                success: function (response) {
                    //show appropriate message
                    //debugger
                    $j('#gallery').empty();
                    //$('#gallery').append('<li class="col-md-4"><img src="/UploadedFiles/' + response + '" alt="" width="280" height="280" /><div class="help-block"></div></li>');
                    $j('#gallery').append(response);
                    //alert(response);
                    //alert(par);
                    //alert('success');
                }
            });
        }
    </script>

}