@model IEnumerable<NS.MYS.Web.Models.Catalogue>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Catálogos</h2>

<p>
    @Html.ActionLink("Nuevo Catálogo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observation)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observation)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.CatalogueId }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.CatalogueId }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.CatalogueId })
            </td>
        </tr>
    }

</table>
